.error {
    color: red;
}

.info {
    color: blue;
}

.hidden {
    display: none;
}
#taskhour-table {
    position: relative;
    float: left;
}
#show-alltasks {
    position: relative;
    float: left;
}
