.error {
    color: red;
}

.info {
    color: blue;
}

.hidden {
    display: none;
}
#taskhour-table {
    position: relative;
    float: left;
}
#show-alltasks {
    position: relative;
    float: left;
}
td ,th {
    min-width: 100px;
    height: 20px;
}
span {
    font-weight: bold;
}
